/* Codicon font and mappings (local copy to avoid eager Monaco bundling). */
@font-face {
  font-family: "codicon";
  font-display: block;
  src: url("/codicon.ttf") format("truetype");
}

.codicon[class*='codicon-'] {
  font: normal normal normal 16px/1 "codicon";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  text-align: center;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

.codicon[class*='codicon-']::before {
  display: inline-block;
}

.codicon.codicon-arrow-both::before { content: "\ea99"; }
.codicon.codicon-bell::before { content: "\eaa2"; }
.codicon.codicon-check::before { content: "\eab2"; }
.codicon.codicon-chevron-down::before { content: "\eab4"; }
.codicon.codicon-chevron-right::before { content: "\eab6"; }
.codicon.codicon-close::before { content: "\ea76"; }
.codicon.codicon-code::before { content: "\eac4"; }
.codicon.codicon-collapse-all::before { content: "\eac5"; }
.codicon.codicon-debug-alt::before { content: "\eb91"; }
.codicon.codicon-edit::before { content: "\ea73"; }
.codicon.codicon-error::before { content: "\ea87"; }
.codicon.codicon-extensions::before { content: "\eae6"; }
.codicon.codicon-file::before { content: "\ea7b"; }
.codicon.codicon-file-code::before { content: "\eae9"; }
.codicon.codicon-files::before { content: "\eaf0"; }
.codicon.codicon-folder::before { content: "\ea83"; }
.codicon.codicon-folder-opened::before { content: "\eaf7"; }
.codicon.codicon-info::before { content: "\ea74"; }
.codicon.codicon-layout::before { content: "\ebeb"; }
.codicon.codicon-light-bulb::before { content: "\ea61"; }
.codicon.codicon-new-file::before { content: "\ea7f"; }
.codicon.codicon-new-folder::before { content: "\ea80"; }
.codicon.codicon-output::before { content: "\eb9d"; }
.codicon.codicon-pin::before { content: "\eb2b"; }
.codicon.codicon-refresh::before { content: "\eb37"; }
.codicon.codicon-root-folder::before { content: "\eb46"; }
.codicon.codicon-search::before { content: "\ea6d"; }
.codicon.codicon-settings-gear::before { content: "\eb51"; }
.codicon.codicon-source-control::before { content: "\ea68"; }
.codicon.codicon-terminal::before { content: "\ea85"; }
.codicon.codicon-trash::before { content: "\ea81"; }
.codicon.codicon-warning::before { content: "\ea6c"; }
.codicon.codicon-whole-word::before { content: "\eb7e"; }
